.bg-3cket {
    background-color: #452f87 !important;
}

.nav-linkColor {
    color: #fff !important;
}

.purple3cket {
    background-color: #452f87 !important;

}

.blue3cket {
    color: #bfeaea !important;
}

.main-container {
    background-color: white;
}

.rounded {
    border-radius: .25rem !important;
}

.images {
    margin-top: 10%;
}

.categories {
    margin-top: 10%;

}

.btn-3cket {
    background-color: #452f87 !important;
    color: #fff;
}

.btn-edit {
    background-color: #bfeaea !important;
    color: #452f87 !important;

}

.divCategoryForm {
    display: none;
}

.divEditForm {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

.row,
.row>.column {
    padding: 8px;
}

.column {
    float: left;
    width: 33.33%;
    display: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

.footer {
    position: relative;
    display: flex;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 1030 !important;
}